// _variables.scss
// MAIN CONTENT
$github-dark: #0d1117;

// SHADOWS
$neon-shadow: rgba(0,255,255,0.5);

// BUTTONS
$neon-btn: rgba(127,255,255,0.75);
$neon-btn-hover: rgba(0,255,255,0.5);
$neon-btn-active: rgba(0,255,255,0.75);

$neon-surface: rgba(0,127,127, 0.4);
$neon-border: #8ff;
$neon-text: #8ff;
$neon-text-shadow: rgba(0,255,255,0.95);

$sakura-text: rgba(227,61,148,1);
$sakura-border: rgba(251,231,239,1);

$font-size-small: 16px;
$font-size-base: 18px;
$font-size-large: 24px;

$font-size-header-2: 26px;


$border-radius-small: 5px;
$border-radius-base: 10px;
$border-radius-large: 15px;
$border-radius-extra-large: 20px;